/* font-family: 'Abril Fatface', cursive;
    font-family: 'Open Sans', sans-serif; */

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background-image: linear-gradient(to bottom right,#00F490,#00BBC9);
}
h1{
    font-family: 'Abril Fatface', cursive;
    
}
/* .bg-light {
    background-color: rgba(64, 224, 208, 0) !important;
} */
.transperent-bg {
    /* border-radius: .3rem!important; */
    background-color: transparent !important;
}

.drop-shadow{
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.185);
}

/* .text-white{
    color: white;
} */

.btn-outline-light{
    border-color: white ;
}
.btn-outline-light:hover{
    background-color: rgba(255, 255, 255, 0.178);
}

.right-nav{
        margin-left: auto!important;
}

.founder{
    background-color: white;
}

.btn-primary{
    background-color: #00BBC9;
}
.btn-primary , .btn-primary:hover{
    background-color: #00BBC9;
    border-color: #00BBC9;
}