.mybox{
    height: 200px;
    background-color: rgb(215, 255, 71);
    margin: 20px 10px;
    padding: 20px;
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .mybox {
        color: red;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .mybox {
        color: rgb(101, 206, 101);
    } 
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .mybox {
        color: blue;
    }
 }

/* // X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) { ... } */